<div class="row">
    <div class="col-md-12">
        <!--Assignment#5 code to create a "button" that links to the "/posts/add" route-->
        <h2>Posts <a href="/posts/add" class="btn btn-success pull-right">Add Post</a></h2>
        <hr />
        <div class="table-responsive">
            <table class="table ">
                <thead>
                    <tr>
                        <th>Post&nbsp;ID</th>
                        <th>Title</th>
                        <th>Post&nbsp;Date</th>
                        <th>Category</th>
                        <th>Published</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each posts}}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{ title }}</td>
                        <!-- Assignment#4 replaced with below <td>{{ postDate }}</td>-->
                        <!--Instead of writing something like {{postDate}}, you can instead write {{#formatDate postDate}}{{/formatDate}}-->
                        <td>{{#formatDate postDate}}{{/formatDate}}</td>
                        <td><a href="/posts?category={{category}}">{{ category }}</a></td>
                        <td>{{ published }}</td>
                        <!--Added below link for assignment#5 -->
                        <td><a class="btn btn-danger" href="/posts/delete/{{id}}">remove</a></td>
                    </tr>
                    {{~/each}}

                    {{#unless posts}}
                    <div class="col-md-12 text-center">
                        <strong>{{message}}</strong>
                    </div>
                    {{/unless}}
                </tbody>
            </table>
        </div>
    </div>
</div>